Repository yeonwoo1125/noodleZip, pull requests merged in 2022-08, with the labels that each got.

#16 #14 모듈 다운로드
  package-lock.json
  package.json
Labels: setting

#18 로그인 화면 추가 #6
  views/html/css/login.css
  views/html/login.html
Labels: feature

#19 #1 MySQL 연동 및 기본 설정
  app.js
  config/mysql.js
  package-lock.json
  package.json
Labels: setting

#27 #15 버튼 위치 수정
  views/html/css/index.css
Labels: feature

#31 #21 유저 로그인 기능 구현
  router/users.js
Labels: feature, User

#32 #11 list 페이지 구성 (순번 제외)
  views/html/css/index.css
  views/html/css/list.css
  views/html/list.html
Labels: feature

#33 #12 list가 없을 때 페이지 구성
  views/html/css/index.css
  views/html/notList.html
Labels: feature

#35 title 이름 변경 #10
  views/html/index.html
  views/html/join.html
  views/html/list.html
  views/html/login.html
  views/html/memo.html
Labels: feature, Memo

#37 수정, 삭제 버튼 추가 #29
  views/html/css/memoedit.css
  views/html/memoedit.html
Labels: feature, Memo

#41 [Modify] 메모 생성 기능 수정
  router/memos.js
Labels: Memo

#44 #23 메모 목록 조회 기능 구현
  router/memos.js
Labels: Memo

#48 #47 user 정보 세션 저장
  app.js
  package-lock.json
  package.json
  router/users.js
Labels: bug, Memo

#50 #49 메모 상세 조회 기능 구현
  router/memos.js
Labels: Memo

#46 html 경로 연결 #45
  app.js
  package-lock.json
  package.json
  public/css/join.css
  public/css/list.css
  router/memos.js
  router/users.js
  views/html/index.html
  views/html/join.html
  views/html/list.html
  views/html/memo.html
  views/html/memoedit.html
  views/html/not-list.html
Labels: feature, Memo
